<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event List</title>
</head>
<body>
    <h1>Wydarzenia</h1>

    <a th:href="@{/eventForm}">Dodaj nowe</a>

    <table border="1">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Budynek</th>
                <th>Wiadomość</th>
                <th>Szczegóły</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.name}"/>
                <td th:text="${event.building.address}"/>
                <td th:text="${event.message}"/>
                <td><a th:href="@{/eventInfo(eventId=${event.eventId})}">Szczegóły</a></td>
                <td><a th:href="@{/eventForm(eventId=${event.eventId})}">Edytuj</a></td>
                <td><a th:href="@{/deleteEvent(eventId=${event.eventId})}">Usuń</a></td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/}">strona główna</a>
</body>
</html>
