<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły</title>
</head>
<body>
    <h1>Szczeguły</h1>

    <p><strong>Nzwa:</strong> <span th:text="${event.name}"/></p>
    <p><strong>Budynek:</strong> <span th:text="${event.building.address}"/></p>
    <p><strong>Wiadomość:</strong> <span th:text="${event.message}"/></p>

    <div>
        <a th:href="@{/eventForm(eventId=${event.eventId})}">Edytuj</a>
        <a th:href="@{/events}">Powrót</a>
    </div>
</body>
</html>