<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowa opłata</title>
</head>
<body>
    <h1 th:text="${fee.feeId == null ? 'Dodaj nową' : 'Edytuj'}"/>

    <form th:action="@{/addFee}" th:object="${fee}" method="post">
        <input type="hidden" th:field="*{feeId}"/>

        <div>
            <label for="tittle">Tytuł:</label>
            <input type="text" id="tittle" th:field="*{tittle}" required/>
        </div>

        <div>
            <label for="amount">Wysokość:</label>
            <input type="number" id="amount" th:field="*{amount}" step="0.01" required/>
        </div>

        <div>
            <label for="maturity">Data płatności:</label>
            <input type="date" id="maturity" th:field="*{maturity}" required/>
        </div>

        <div>
            <label for="apartment">Mieszkanie:</label>
            <select id="apartment" th:field="*{apartment}" required>
                <option th:each="apartment : ${apartments}" th:value="${apartment.apartmentId}" th:text="${apartment.number}"/>
            </select>
        </div>

        <div>
            <label for="status">Status:</label>
            <select id="status" th:field="*{status}" required>
                <option value="OPLACONE">Oplacone</option>
                <option value="NIE_OPLACONE">Nie Oplacone</option>
            </select>
        </div>

        <div>
            <button type="submit">Zapisz</button>
            <a th:href="@{/fees}">Anuluj</a>
        </div>
    </form>
</body>
</html>