<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opłaty</title>
</head>
<body>
    <h1>Fee List</h1>

    <a th:href="@{/feeForm}">Add New Fee</a>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Maturity Date</th>
                <th>Apartment</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="fee : ${fees}">
                <td th:text="${fee.tittle}"></td>
                <td th:text="${fee.amount}"></td>
                <td th:text="${fee.maturity}"></td>
                <td th:text="${fee.apartment.number}"></td>
                <td th:text="${fee.status}"></td>
                <td>
                    <a th:href="@{/feeInfo(feeId=${fee.feeId})}">View</a> |
                    <a th:href="@{/feeForm(feeId=${fee.feeId})}">Edit</a> |
                    <a th:href="@{/deleteFee(feeId=${fee.feeId})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>