<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły</title>
</head>
<body>
    <h1>Szczegóły</h1>

    <p><strong>Tytuł:</strong> <span th:text="${fee.tittle}"/></p>
    <p><strong>Wrtość:</strong> <span th:text="${fee.amount}"/></p>
    <p><strong>Termin płatność:</strong> <span th:text="${fee.maturity}"/></p>
    <p><strong>Mieszkanie:</strong> <span th:text="${fee.apartment.number}"/></p>
    <p><strong>Status:</strong> <span th:text="${fee.status}"/></p>

    <div>
        <a th:href="@{/feeForm(feeId=${fee.feeId})}">Edytuj</a>
        <a th:href="@{/fees}">Powrót</a>
    </div>
</body>
</html>