<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły</title>
</head>
<body>
    <h1>Szczegóły</h1>

    <p><strong>ID:</strong> <span th:text="${role.id}"/></p>
    <p><strong>Typ:</strong> <span th:text="${role.type}"/></p>
    <p><strong>Urzytkownicy:</strong></p>
    <ul>
        <li th:each="user : ${role.users}" th:text="${user}"/>
    </ul>

    <div>
        <a th:href="@{/roleForm(id=${role.id})}">Edytuj</a>
        <a th:href="@{/roles}">Powrót</a>
    </div>
</body>
</html>