<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły</title>
</head>
<body>
    <h1>Szczegóły</h1>

    <p><strong>ID:</strong> <span th:text="${user.userId}"/></p>
    <p><strong>Imię:</strong> <span th:text="${user.firstName}"/></p>
    <p><strong>Nazwisko:</strong> <span th:text="${user.lastName}"/></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"/></p>
    <p><strong>Rola:</strong> <span th:each="role : ${user.roles}" th:text="${role.type}"/></p>

    <div>
        <a th:href="@{/userForm(id=${user.userId})}">Edytuj</a>
        <a th:href="@{/users}">Powrót</a>
    </div>
</body>
</html>