<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Użytkownicy</title>
</head>
<body>
    <a th:href="@{/userForm}">Dodaj użytkownika</a>

    <div th:if="${#lists.isEmpty(users)}">
        <p>Jeszcze nic nie dodano</p>
    </div>

    <div th:unless="${#lists.isEmpty(users)}">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>PESEL</th>
                    <th>Email</th>
                    <th>Aktywacja</th>
                    <th>Aktywny</th>
                    <th>Role</th>
                    <th>Szczegóły</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userId}"/>
                    <td th:text="${user.firstName}"/>
                    <td th:text="${user.lastName}"/>
                    <td th:text="${user.pesel}"/>
                    <td th:text="${user.email}"/>
                    <td><span th:each="role : ${user.roles}"><span th:text="${role.type}"/></span></td>
                    <td><a th:href="@{/userInfo(Id=${user.userId})}">Szczegóły</a></td>
                    <td><a th:href="@{/userForm(Id=${user.userId})}">Edytuj</a></td>
                    <td><a th:href="@{/deleteUser(Id=${user.userId})}" onclick="return confirm('Czy na pewno chcesz usunąć użytkownika?');">Usuń</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/}">strona główna</a>
</body>
</html>
