<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowe powiadomienie</title>
</head>
<body>
    <h1 th:text="${notification.notyficationId == null ? 'Dodaj powiadomienie' : 'Edytuj'}"/>

    <form th:action="@{/addNotification}" th:object="${notification}" method="post">
        <input type="hidden" th:field="*{notyficationId}"/>

        <div>
            <label for="tittle">Tytuł:</label>
            <input type="text" id="tittle" th:field="*{tittle}" required/>
        </div>

        <div>
            <label for="content">Zwrtość:</label>
            <textarea id="content" th:field="*{content}" required/>
        </div>

        <div>
            <label for="users">Użytkownik:</label>
            <select id="users" th:field="*{user}" multiple>
                <option th:each="user : ${users}" th:value="${user}" th:text="${user}"/>
            </select>
        </div>

        <div>
            <button type="submit">Zapisz</button>
            <a th:href="@{/notifications}">Anuluj</a>
        </div>
    </form>
</body>
</html>