<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Powiadomienia</title>
</head>
<body>
    <h1>Powiadomienia</h1>

    <a th:href="@{/notificationForm}">Nowe powiadomienie</a>

    <table border="1">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Zawatość</th>
                <th>Szczegóły</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="notification : ${notifications}">
                <td th:text="${notification.tittle}"/>
                <td th:text="${notification.content}"/>
                <td><a th:href="@{/notificationInfo(notyficationId=${notification.notyficationId})}">Szczegóły</a></td>
                <td><a th:href="@{/notificationForm(notyficationId=${notification.notyficationId})}">Edytuj</a></td>
                <td><a th:href="@{/deleteNotification(notyficationId=${notification.notyficationId})}">Usuń</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>