<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prześlij plik</title>
</head>
<body>
<form th:action="@{/addDocument}" method="post" enctype="multipart/form-data">
    <label>
        Plik:
        <input type="file" name="file" required>
    </label>
    <label>
        Od:
        <select name="senderId" required>
            <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user}"/>
        </select>
    </label>
    <label>
        Do:
        <select name="recipientId" required>
            <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user}"/>
        </select>
    </label>
    <input type="submit" value="Upload">
</form>
</body>
</html>
