<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budynki</title>
</head>
<body>
    <a th:href="@{/buildingForm}">Dodaj budynek</a>

    <div th:if="${#lists.isEmpty(buildings)}">
        <p>Jeszcze nic nie dodano</p>
    </div>

    <div th:unless="${#lists.isEmpty(buildings)}">
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Adres</th>
                    <th>Manager</th>
                    <th>Liczba mieszkań</th>
                    <th>Mieszkania:</th>
                    <th>Wydarzenia</th>
                    <th>Szczegóły</th>
                    <th>Edytuj</th>
                    <th>Usuń</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="building : ${buildings}">
                    <td th:text="${building.buildingId}"/>
                    <td th:text="${building.address}"/>
                    <td th:text="${building.manager}"/>
                    <td th:text="${building.apartments.size()}"/>
                    <td><a th:href="@{/apartments(Id=${building.buildingId})}">mieszkania</a></td>
                    <td><a th:href="@{/events(Id=${building.buildingId})}">wydarzenia</a></td>
                    <td><a th:href="@{/buildingInfo(Id=${building.buildingId})}">Szczegóły</a></td>
                    <td><a th:href="@{/buildingForm(Id=${building.buildingId})}">Edytuj</a></td>
                    <td><a th:href="@{/deleteBuilding(Id=${building.buildingId})}">Usuń</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <a th:href="@{/}">strona główna</a>
</body>
</html>