<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy budynek</title>
</head>
<body>
    <form th:method="POST" th:object="${building}" th:action="@{/addBuilding}">
        <input type="hidden" th:field="*{buildingId}" th:value="*{buildingId}">
        <label>
            Miasto:
            <input type="text" th:field="*{address.city}">
        </label>
        <label>
            Ulica:
            <input type="text" th:field="*{address.streat}">
        </label>
        <label>
            Numer:
            <input type="text" th:field="*{address.number}">
        </label>

        <label>
            Manadżer:
            <select th:name="manager">
                <option value="" disabled selected>Wybierz manadżera</option>
                <option th:each="manager : ${managers}" th:value="${manager.userId}" th:text="${manager}"></option>
            </select>
        </label>

        <label>
            <input type="submit">
        </label>
    </form>
</body>
</html>