<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły</title>
</head>
<body>
    <h1>Szczegóły</h1>

    <p><strong>Opis:</strong> <span th:text="${issue.descryption}"/></p>
    <p><strong>Data:</strong> <span th:text="${issue.date}"/></p>
    <p><strong>Status:</strong> <span th:text="${issue.status}"/></p>
    <p><strong>Lokator:</strong> <span th:text="${issue.tenant}"/></p>

    <div>
        <a th:href="@{/issueForm(issueId=${issue.issueId})}">Edytuj</a>
        <a th:href="@{/issues}">Powrót</a>
    </div>
</body>
</html>