<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problemy</title>
</head>
<body>
    <h1>Problemy</h1>

    <a th:href="@{/issueForm}">Dodj nowy problem</a>

    <table border="1">
        <thead>
        <tr>
            <th>Opis</th>
            <th>Data</th>
            <th>Status</th>
            <th>Lokator</th>
            <th>Szczegóły</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="issue : ${issues}">
            <td th:text="${issue.descryption}"/>
            <td th:text="${issue.date}"/>
            <td th:text="${issue.status}"/>
            <td th:text="${issue.tenant}"/>
            <td><a th:href="@{/issueInfo(issueId=${issue.issueId})}">Szczegóły</a></td>
            <td><a th:href="@{/issueForm(issueId=${issue.issueId})}">Edytuj</a></td>
            <td><a th:href="@{/deleteIssue(issueId=${issue.issueId})}">Usuń</a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}">strona główna</a>
</body>
</html>