<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Udogodnienia</title>
</head>
<body>
    <h1>Udogodnienia</h1>

    <a th:href="@{/utilityForm}">Dodaj nowe udogodnienie</a>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Szczegóły</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="utility : ${utilities}">
            <td th:text="${utility.utilityId}"/>
            <td th:text="${utility.name}"/>
            <td th:text="${utility.description}"/>
            <td th:text="${utility.price}"/>
            <td><a th:href="@{/utilityInfo(Id=${utility.utilityId})}">Szczegóły</a> </td>
            <td><a th:href="@{/utilityForm(Id=${utility.utilityId})}">Edytuj</a></td>
            <td><a th:href="@{/deleteUtility(Id=${utility.utilityId})}">Usuń</a></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/}">strona główna</a>
</body>
</html>